<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>  
      {{> header}}
      {{> mainsidebar}}
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
  
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/manh"><i class="fa fa-battery-quarter"></i> Home</a></li>
       
      </ol>
    </section>
    

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{mb_per }} % </h3>

              <p>Miền Bắc</p>
              
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/detail" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{mn_per}}<sup style="font-size: 20px">%</sup></h3>

              <p>Miền Nam</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/detail" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{id}}</h3>
              <p>Member</p>

            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="/adminte" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{id}}</h3>

              <p>Admin: {{username}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="/adminte" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>


           <section class="content-header">
              <h1>
                  Tổng quan tháng {{month}} năm {{year}}
                
              </h1>
              <ol class="breadcrumb">
   
                  <li class="active">Tổng quan</li>
              </ol>
         </section>
         <section class="content">
        <div class="row chart-row">
            <div class="col-md-16">
               
              

        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <p class="text-center">
                        <strong>Bán lẻ</strong>
                    </p>
                    <div class="progress-group">
                        <span class="progress-text">BM</span>
                        <span class="progress-number"><b>{{ bl_bm_1}} đ</b>/{{ bl_bm_2}} đ ({{bl_bm_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ bl_bm_per}}" style="width: {{bl_bm_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group last_prog">
                        <span class="progress-text">Cá nhân</span>
                        <span class="progress-number"><b>{{ bl_canhan_1}} đ</b>/{{ bl_canhan_2}} đ ({{bl_canhan_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ bl_canhan_per}}" style="width: {{bl_canhan_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                </div>

                <div class="box">
                    <p class="text-center">
                        <strong>Marketing</strong>
                    </p>
                    <div class="progress-group">
                        <span class="progress-text">Chi phí Marketing tổng</span>
                        <span class="progress-number"><b>{{ mkt_1}} đ</b>/{{ mkt_2}} đ</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mkt_per}}" style="width: {{mkt_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group last_prog">
                        <span class="progress-text">Chi phí Marketing thêm từ BM</span>
                        <span class="progress-number"><b>{{ mkt_bm_1}} đ</b>/{{ mkt_bm_2}} đ</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-aqua" style="width: 100%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="box">
                    <p class="text-center">
                        <strong>Miền Bắc</strong>
                    </p>
                    <div class="progress-group">
                        <span class="progress-text">Truyền Thống</span>
                        <span class="progress-number"><b>{{ mb_tradi_1}} đ</b>/{{ mb_tradi_2}} đ ({{mb_tradi_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mb_tradi_per}}" style="width: {{mb_tradi_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                        <span class="progress-text">Đại lý Online</span>
                        <span class="progress-number"><b>{{ mb_onl_1}} đ</b>/{{ mb_onl_2}} đ ({{mb_onl_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mb_onl_per}}" style="width: {{mb_onl_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                        <span class="progress-text">Shopee</span>
                        <span class="progress-number"><b>{{ mb_shopee_1}} đ</b>/{{ mb_shopee_2}} đ ({{mb_shopee_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mb_shopee_per}}" style="width: {{mb_shopee_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group last_prog">
                        <span class="progress-text">Dự án</span>
                        <span class="progress-number"><b>{{ mb_duan_1}} đ</b>/{{ mb_duan_2}} đ ({{mn_tradi_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mn_tradi_per}}" style="width: {{mn_tradi_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                </div>
            </div> 

            <div class="col-md-4">
                <div class="box">
                    <p class="text-center">
                        <strong>Miền Nam</strong>
                    </p>
                    <div class="progress-group">
                        <span class="progress-text">Truyền thống</span>
                        <span class="progress-number"><b>{{ mn_tradi_1}} đ</b>/{{ mn_tradi_2}} đ ({{mn_tradi_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mn_tradi_per}}" style="width: {{mn_tradi_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                        <span class="progress-text">Tiki</span>
                        <span class="progress-number"><b>{{ mn_tiki_1}} đ</b>/{{ mn_tiki_2}} đ ({{mn_tiki_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mn_tiki_per}}" style="width: {{mn_tiki_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group last_prog">
                        <span class="progress-text">Dự án</span>
                        <span class="progress-number"><b>{{ mn_duan_1}} đ</b>/{{ mn_duan_2}} đ ({{mn_duan_per}}%)</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-{{ mn_duan_per}}" style="width: {{mn_duan_per}}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                </div>
            </div>         
        </div>
    </section>  
   
    </section>
        <section class="content">
      <div class="row">
        <div class="col-md-6">
          <!-- AREA CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Area Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="areaChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Donut Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <canvas id="pieChart" style="height:250px"></canvas>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
          <!-- LINE CHART -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Line Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="lineChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Bar Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:230px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (RIGHT) -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  



<script>
       let myChart = document.getElementById('lineChart').getContext('2d');
       let myChart2 = document.getElementById('barChart').getContext('2d')
       let myChart3 = document.getElementById('pieChart').getContext('2d')
       let myChart4 = document.getElementById('areaChart').getContext('2d')

       Chart.defaults.global.defaultFontFamily = 'Georgia';
       Chart.defaults.global.defaultFontSize = 18;
       Chart.defaults.global.defaultFontColor = '#777';

       let massPopChart = new Chart(myChart, {
      type:'polarArea', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Changmi', 'Kaixin', 'TKBooks', 'Saiwai', 'McBooks', 'Kinh Doanh'],
        datasets:[{
          label: 'No Information',
          data:[
            {{id}},
            20,
            11,
            16,
            19,
            9
          ],
        
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth: 3,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#29',
          tension: 0.1,
          fill: false
        }]
      },
      options:{
        title:{
          display:true,
          text:'Bảng tổng hợp số liệu',
          fontSize:18
        },
        legend:{
          display:true,
          position: 'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });


      let massPopChart1 = new Chart(myChart2, {
           type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                  label: 'Doanh thu 2020',
                  data: [10, 20, 30, 40, 50, 60, 70],
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                }]
            },
            options: {
              animations: {
                tension: {
                  duration: 1000,
                  easing: 'linear',
                  delay: 1000,
                  from:1,
                  to:0,
                  loop: true
                }
              },
              scales: {
                y: {
                  min: 20,
                  max: 100
                }
              }
            }
      })

      let massPopChart3 = new Chart(myChart3,{
        type: 'radar',
        data:{ 
           labels: [
                'Truyền Thống ',
                'Tiki',
                'Dự án',
              
                
              ],
              datasets: [{
                label: 'Miền Bắc',
                data: [62, 59, 90],
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
              }, {
                label: 'Miền Nam',
                data: [78, 78, 90],
                fill: true,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                pointBackgroundColor: 'rgb(54, 162, 235)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(54, 162, 235)'
              }]

        }, plugins: {
            tooltip: {
           
              events: ['click']
            }
        },
        option:{
               elements: {
               line: {
               borderWidth: 3
          }
        }


        }
      })

    let massPopChart4 = new Chart(myChart4, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Changmi', 'Kaixin', 'TKBooks', 'Saiwai', 'McBooks', 'Kinh Doanh'],
        datasets:[{
          label:'Population',
          data:[
            10,
            20,
            11,
            16,
            19,
            9
          ],
        
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth: 3,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#29',
          tension: 0.1,
          fill: true 
        }]
      },
      options:{
        title:{
          display:true,
          text:'Bảng tổng hợp số liệu',
          fontSize:18
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });

      
</script>


  
</body>
</html>